@model List<Booking_Dental_Clinic.Models.GoiDichVu>
@{
    ViewBag.Title = "Price";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.active = 4;
}
<!-- Pricing Plan Start -->
<div class="container-fluid py-5">
    <div class="container">
        <div class="text-center mx-auto mb-5" style="max-width: 500px;">
            <h5 class="d-inline-block text-primary text-uppercase border-bottom border-5">Medical Packages</h5>
            <h1 class="display-4">Awesome Medical Programs</h1>
        </div>
        <div class="owl-carousel price-carousel position-relative" style="padding: 0 45px 45px 45px;">
            @foreach (var item in Model)
            {
                <div class="bg-light rounded text-center">
                    <div class="position-relative">
                        <img class="img-fluid rounded-top" src="~/img/price-2.jpg" alt="">
                        <div class="position-absolute w-100 h-100 top-50 start-50 translate-middle rounded-top d-flex flex-column align-items-center justify-content-center" style="background: rgba(29, 42, 77, .8);">
                            <h3 class="text-primary">@item.TenDichVu</h3>
                            <h1 class="display-4 text-white mb-0">
                                <small class="align-top fw-normal" style="font-size: 22px; line-height: 45px;"></small>@string.Format("{0:#,0}", item.GiaDichVu)<small class="align-bottom fw-normal" style="font-size: 16px; line-height: 40px;">/ Year</small>
                            </h1>
                        </div>
                    </div>
                    <div class="text-center py-5">
                        <p>@item.MoTaDichVu</p>
                        @Html.ActionLink("Thanh Toan","Thanhtoan","Home") 
                    </div>
                    <div id="YEUTHICH">
                        <a href="@Url.Action("ThemGioHang","Giohang", new {@idMaDV = item.Id_DichVu, @strURL = Request.Url.ToString() })" data-bs-toggle="modal">Thêm Vào Yêu Thích</a>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

